/* styles.css */
.container {
    position: relative;
    width: auto;
    height: 400px;
    background-color: #ecf0f1;
    border-radius: 15px;
    overflow: hidden;
  }

.rectangle {
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
  
.rectangle:hover {
    transform: scale(1.1);
}
  